<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    body{
     margin:0;
    padding:0;
    }
    .rty{
width:100%;
height:50px;
background-image:linear-gradient(to left, #10b9cc , #0b397d);
display:flex;
flex-direction:column;
align-items:center;
font-size:35px;
color:white;
margin-bottom:30px;
}
        .lj{
        font-weight:bold;
        }
        .para{
        margin-left:15px;
        }
    </style>
</head>
<body>
<div class="rty">
    Mindstrong IT Services Private Limited
</div>
<div class="para">
<p1>
    We, <p1 class="lj">Mindstrong IT Services Private Limited </p1>from <p1 class="lj">2011 </p1>are famous amongst the esteemed manufacturer of an exceptional quality assortment of LED Display, Water Control System and CCTV Camera. The offered range is designed using top grade material and latest technology. Apart from this, these products are known for their low maintenance, high strength, damage resistance, easy usability, and durability.</p1>
<br> <br> <br>
<p2>
    We have invested high in implementing the latest technology to inline our product developments with client needs. Also, we have the proper arrangement to meet the defined quality standards for all our offerings. Also, we have a group of professionals. For ensuring an interrupt-free workplace, we work in close coordination. Also, with the support of our professionals; we have a long-term relationship with clients in a short span of time.</p2>
<br> <br> <br>
<p3>
    Our firm is managed by under the supervision of <p3 class="lj"> “Mr. Harkush Ray Gupta”</p3> and has gained huge clientele. Owing to his organizational skills and deep knowledge, we are famous in this domain.
</p3>
    <h2>
    Why Us?
    </h2>
    <p4>
Being a trusted and well-known name of the industry, we are offering optimum quality products in the industry. We never compromised the quality of the product and fulfill the requirements within the promised time frame.
    </p4> <br>
    <br>
    <h3>
        Key features make as the preferred choice are: </h3>
    <ul>
        <li>Best quality products </li>
        <li>Easy payment modes</li>
        <li>On-time delivery</li>
        <li>Best packaging options</li>
    </ul>
        <h2>Our Infrastructure</h2>
    <p5>
Our organization owned a well-equipped and technologically sounds infrastructure facility to cater to our manufacturing and product processing. It is equipped with all the machines and tools for the required processing of our products.
    </p5>
    <h3>Units in our facility are:</h3>
    <ul>
        <li>Production and processing department</li>
        <li>Quality testing unit</li>
        <li>Packaging unit</li>
    </ul>
</div>
</body>
</html>